<template>
    <div class="order-form">
        <form class="needs-validation" novalidate>
            <div class="form-group">
                <label for="phone">Номер телефона</label>
                <input
                        type="text"
                        class="form-control form-control-sm"
                        :class="{ 'is-invalid': errors.phone }"
                        id="phone"
                        name="phone"
                        v-model="phone"
                        required
                />
                <div class="invalid-feedback" v-if="errors.phone">
                    <strong v-for="error in errors.phone">{{ error }}</strong>
                </div>
            </div>
            <div class="form-group">
                <label for="name">Ваше имя</label>
                <input
                        type="text"
                        class="form-control form-control-sm"
                        :class="{ 'is-invalid': errors.name }"
                        id="name"
                        name="name"
                        v-model="name"
                        required
                />
                <div class="invalid-feedback" v-if="errors.name">
                    <strong v-for="error in errors.name">{{ error }}</strong>
                </div>
            </div>
            <div class="form-group">
                <label for="plan">Тариф</label>
                <select
                        class="form-control form-control-sm"
                        :class="{ 'is-invalid': errors.plan }"
                        id="plan"
                        name="plan"
                        v-model="plan"
                        required
                >
                    <option v-for="plan in plans" :value="plan.id">{{ plan.name }}</option>
                </select>
                <div class="invalid-feedback" v-if="errors.plan">
                    <strong v-for="error in errors.plan">{{ error }}</strong>
                </div>
                <small class="form-text" v-if="currentPlan">
                    Стоимость тарифного плана: {{ currentPlan.price }} рублей
                </small>
            </div>
            <div class="form-group date">
                <label for="delivery_date">Дата доставки</label>
                <datepicker
                        :input-class="{ 'form-control': true, 'form-control-sm': true, 'is-invalid': errors.delivery_date}"
                        id="delivery_date"
                        name="delivery_date"
                        :monday-first="true"
                        :disabled-dates="disabledDates"
                        :required="true"
                        v-model="delivery_date"
                >
                    <div slot="afterDateInput" class="invalid-feedback" v-if="errors.delivery_date">
                        <strong v-for="error in errors.delivery_date">{{ error }}</strong>
                    </div>
                </datepicker>
            </div>
            <div class="form-group">
                <label for="delivery_address">Адрес доставки</label>
                <input
                        type="text"
                        class="form-control form-control-sm"
                        :class="{ 'is-invalid': errors.delivery_address }"
                        id="delivery_address"
                        name="delivery_address"
                        v-model="delivery_address"
                        required
                />
                <div class="invalid-feedback" v-if="errors.delivery_address">
                    <strong v-for="error in errors.delivery_address">{{ error }}</strong>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" @click.prevent="submit" :disabled="!canSubmit">Заказать</button>
        </form>
        <div v-if="show_modal">
            <transition name="modal">
                <div class="modal-mask">
                    <div class="modal-wrapper">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Заказ оформлен!</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true" @click="show_modal = false">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Заказ с ID №{{ order_id }} успешно оформлен!</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" @click="show_modal = false">Close</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </transition>
        </div>
    </div>
</template>

<script>
    import Datepicker from 'vuejs-datepicker';
    export default {
        components: {Datepicker},
        data() {
            return {
                phone: '',
                name: '',
                plan: '',
                delivery_date: '',
                delivery_address: '',
                plans: [],
                errors: {},
                show_modal: false,
                order_id: '',
            }
        },
        mounted() {
            window.axios.get('/plans')
                .then(response => {
                    this.$data.plans = response.data;
                })
                .catch(error => {
                    console.log(error.response.data)
                });
        },
        methods: {
            submit() {
                let data = {
                    phone: this.$data.phone,
                    name: this.$data.name,
                    plan: this.$data.plan,
                    delivery_date: this.$data.delivery_date.toDateString(),
                    delivery_address: this.$data.delivery_address,
                };

                window.axios.post('/order', data)
                    .then(response => {
                        this.$data.errors = {};
                        this.$data.show_modal = true;
                        this.$data.order_id = response.data.order_id;
                        this.$data.phone = '';
                        this.$data.name = '';
                        this.$data.plan = '';
                        this.$data.delivery_date = '';
                        this.$data.delivery_address = '';
                    })
                    .catch(error => this.$data.errors = error.response.data.errors)
            }
        },
        computed: {
            disabledDates() {
                let days = [0, 6];
                let days_map = {
                    'mon': 1,
                    'tue': 2,
                    'wed': 3,
                    'thu': 4,
                    'fri': 5,
                    'sat': 6,
                    'sun': 0,
                };
                if (this.$data.plan) {
                    let plan = this.currentPlan;
                    let delivery_days = _.map(plan.delivery_days, item => days_map[item]);
                    days = _.filter(Object.values(days_map), day => !delivery_days.includes(day));
                }

                return {
                    to: new Date(),
                    days: days,
                };
            },
            canSubmit() {
                return this.$data.phone !== ''
                    && this.$data.name !== ''
                    && this.$data.plan !== ''
                    && this.$data.delivery_date !== '';
            },
            currentPlan() {
                return this.$data.plans.find(item => item.id === this.$data.plan);
            }
        }
    }
</script>

<style>
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }
</style>
